@charset "UTF-8";


/*ul.showOrHideGroups { padding:0 0 0.5em 20px !important; margin:0 !important}
ul.showOrHideGroups li {
	list-style-type: none;
	list-style-image: none;
	background-image: none !important;
	padding-left: 0 !important;
}
ul.showOrHideGroups li.hidden { list-style-image: url(group_collapsed.png) }
ul.showOrHideGroups li.showing { list-style-image: url(group_showing.png) }
*/

/* Überstimmen diverser unschöner globaler Formatierungen des design2010-styles.css */
ul.showOrHideGroups { 
	padding:0 0 0.5em 0 !important; margin:0 !important
}
ul.showOrHideGroups > li {
	padding-left: 2em !important
}

li.folding-arrow {
	background-image: none !important;
}
ul.showOrHideGroups svg.folding-arrow-icon path {
	stroke: #888;
	stroke-width: 1px; /* Macht das Icon etwas größer */
	fill: #888;
}

/* Sliding Panels:
   Panel-Spalten von links nach rechts angeordnet, neue werden nach rechts wie eine Schublade ausgefahren.
   Ein Slidingpanel muss zunächst einen content-Block enthalten, ggf. gefolgt von einem weiteren (inneren) slidingpanel.
   So entsteht eine "lineare Liste".
*/

.slidingpanels {
	overflow-x: scroll;
	padding: 10px 0;
}
.slidingpanel {
    position: relative;
    left: 0;
    display: inline-block;
    z-index:1;
    vertical-align: top;
    white-space: nowrap;
}
.slidingpanel p {
    white-space: normal;
    /* Normalerweise passt sich die Panel-Breite an den Content an, der wiederum keinen automatischen Zeilenumbruch unterstützt.
    Ausnahme: Eingefügte Paragraphs passen sich ein, die Panelbreite muss dann vom restlichen Non-P-Content abgeleitet
    oder explizit per CSS gesetzt worden sein. */
}
.slidingpanel .slidingpanel { /* Sub-Panel ist gegenüber Parent nach links versetzt, "steckt unter dem Content des Parents" */
    left: -1em;
}
.slidingpanel .content {
    position: relative; /* ermoeglicht z-index */
    display: inline-block;
    z-index:2; /* Ein panel enthält einen Content-Block und ggf. eine weiteres Panel. Das Sub-Panel soll dabei unter dem Content hervorgeschoben werden. */
    background-color: #eee;
    box-shadow: 5px 0 10px #bbb; /* durch z-index-Angaben überlappt der Schatten des Contents das rechts gelegene Sub-Panel */
    padding: 0.5em;
    padding-left: 1.5em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.slidingpanel .inithidden {
    opacity:0;
    visibility: hidden; /* wegen der ungenauen left-Positionierung vorsichtshalber, falls der Browser keine opacity unterstützt. */
}
.slidingpanel .content select {
    min-width: 10em;
}
.slidingpanel .overlay {
    background-color: white;
    box-shadow: 0 0 5px #777;
    border-radius:0.5em;
    padding:0.5em;
    position:absolute;
    top:1.5em;
}